@model OdoriRails.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/signin.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js" language="javascript"></script>
    <script src="~/Scripts/jquery-1.10.2.js" language="javascript"></script>
</head>
<body>
<div class="container">
    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-signin" }))
    {
        <form class="form-signin">
            <h2 class="form-signin-heading">Sign in</h2>
            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div class="alert alert-danger">
                    <p>
                        <a class="close" onclick="$('.alert').hide()" aria-label="close">&times;</a>
                        <strong>Error!</strong> @Model.Error
                    </p>
                </div>
            }
            else if (!string.IsNullOrEmpty(Model.Warning))
            {
                <div class="alert alert-warning">
                    <p>
                        <a class="close" onclick="$('.alert').hide()" aria-label="close">&times;</a>
                        <strong>Warning!</strong> @Model.Warning
                    </p>
                </div>
            }
            @Html.TextBoxFor(model => model.Username, "TbUsername", new { @class = "form-control", placeholder = "Username", required = "True", autofocus = "True", style = "margin-bottom: 10px" })
            @Html.TextBoxFor(model => model.Password, "TbPassword", new { type = "password", @class = "form-control", placeholder = "Password", required = "True", style = "margin-bottom: 10px" })
            @Html.CheckBoxFor(model => model.RememberMe)
            @Html.LabelFor(model => model.RememberMe)
            <button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-top: 10px">Sign in</button>
        </form>
    }
</div>
</body>
</html>
