@model OdoriRails.Models.UserBeheer.EditUserModel

@{
    ViewBag.Title = "Edit User";
}

<h2>Edit User @Model.EditUser.Name</h2>

@using (Html.BeginForm("Edit", "UserBeheer", FormMethod.Post))
{
    <table class="table table-striped table-hover">
        <tbody>
        <tr>
            <td>Name</td>
            <td>
                @Html.TextBoxFor(x => x.EditUser.Name)
                @Html.ValidationMessageFor(x => x.EditUser.Name)
            </td>
        </tr>
        <tr>
            <td>Username</td>
            <td>
                @Html.TextBoxFor(x => x.EditUser.Username)
                @Html.ValidationMessageFor(x => x.EditUser.Username)
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                @Html.TextBoxFor(x => x.EditUser.Email)
                @Html.ValidationMessageFor(x => x.EditUser.Email)
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                @Html.TextBoxFor(x => x.EditUser.Password)
                @Html.ValidationMessageFor(x => x.EditUser.Password)
            </td>
        </tr>
        <tr>
            <td>Role</td>
            <td>
                @Html.EnumDropDownListFor(x => x.EditUser.Role, new {Id = "DropDownRole"})
                @Html.ValidationMessageFor(x => x.EditUser.Role)
            </td>
        </tr>
        <tr>
            <td>Manager</td>
            @{
                var userList = new List<SelectListItem> {new SelectListItem()};
                userList.AddRange(Model.AllUsers.Select(x => new SelectListItem {Text = x.Name}).ToList());
            }
            <td>@Html.DropDownListFor(x => x.EditUser.ManagerName, userList, new {Id = "DropDownManager"}) </td>
        </tr>
        <tr>
            <td>Tram Id</td>
            <td>
                @Html.TextBoxFor(x => x.EditUser.TramId)
                @Html.ValidationMessageFor(x => x.EditUser.TramId)
            </td>
        </tr>
        </tbody>
    </table>

    @Html.HiddenFor(x => x.EditUser.Id)
    @Html.HiddenFor(x => x.IsNewUser)

    <input type="submit" value="Opslaan" class="btn btn-default"/>
    <input type="button" value="Annuleren" class="btn" onclick="window.location.href = '/UserBeheer/'"/>
}

<script type="text/javascript">
    document.getElementById('DropDownManager').Value = @Model.EditUser.ManagerName;
</script>