@model OdoriRails.Models.BaseModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OdoriRails</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OdoriRails", "Index", Model.ControllerNameForHomeButton, new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

<div class="container body-content">
    
    @if (Model.Error != null)
    {
        <div class="alert alert-danger" style="margin-top: 20px">
            <a class="close" onclick="$('.alert').hide()" aria-label="close">&times;</a>
            <strong>Error!</strong> @Model.Error
        </div>
    }
    else if (Model.Sucess != null)
    {
        <div class="alert alert-success" style="margin-top: 20px">
            <a class="close" onclick="$('.alert').hide()" aria-label="close">&times;</a>
            <strong>Sucess!</strong> @Model.Sucess
        </div>
    }
    else if (Model.Warning != null)
    {
        <div class="alert alert-warning" style="margin-top: 20px">
            <a class="close" onclick="$('.alert').hide()" aria-label="close">&times;</a>
            <strong>Warning!</strong> @Model.Warning
        </div>
    }

    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - OdoriRails BV</p>
    </footer>
</div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>