@using OdoriRails.Helpers.Objects
@model OdoriRails.Models.DriverModel

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Driver", FormMethod.Post))
{
    <div class="row" style="margin-top: 20px">
        <div class="col-md-6 col-sm-6 col-xs-6 pull-left">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Tramnummer:</h4>
                </div>
                <div class="panel-body">
                    <p style="text-align:center; font-size:xx-large"> @Html.Raw(Model.Tram?.Number.ToString() ?? "Niet Bekend")</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 pull-right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Locatie:</h4>
                </div>
                <div class="panel-body">
                    <p id="LbLocation" style="text-align:center; font-size:xx-large"> @Model.GetAssignedTramLocation()</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-md-10 col-sm-12 col-xs-12 pull-left">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Benodigde service:</h4>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        <label>Comments</label><br />
                        @Html.TextAreaFor(x => x.Comments, Model.Tram?.Location == TramLocation.Out ? new { @class = "form-control", style = "width:500px", rows = "5" } : (object)new { @class = "form-control", style = "width:500px", rows = "5", @disabled = "true" })
                    </div>
                    <div class="pull-left">

                        <div class="checkbox">
                            <label>@Html.CheckBoxFor(x => x.NeedsCleaning, Model.Tram?.Location == TramLocation.Out ? new { } : (object)new { @disabled = "true" }) Schoonmaak</label>
                        </div>
                        <div class="checkbox">
                            <label>@Html.CheckBoxFor(x => x.NeedsRepair, Model.Tram?.Location == TramLocation.Out ? new { } : (object)new { @disabled = "true" }) Reparatie</label>
                        </div>
                    </div>
                    @*<br/><br />*@
                </div>
            </div>
        </div>
        <div class="col-md-2 pull-right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.Label("Tram aanmelden:")
                </div>
                <div class="panel-body text-center">
                    <button type="submit" class="btn btn-lg navbar-btn" style="margin: 5px" value="leave" @Html.Raw(Model.Tram?.Location == TramLocation.In ? "" : "disabled") onclick="document.getElementById('LbLocation').innerHTML = 'Aan het vertrekken.'">Vertrek</button>
                    <button type="submit" class="btn btn-lg btn-primary" style="margin: 5px" value="remise" @Html.Raw(Model.Tram?.Location == TramLocation.Out ? "" : "disabled") onclick="document.getElementById('LbLocation').innerHTML = 'Wachten op locatie.'">Remise</button>
                </div>
            </div>
        </div>
    </div>
}
