@using System.Web.Mvc.Html
@using OdoriRails.Helpers.Objects
@model OdoriRails.Models.SRManagement.AddCleaningModel
@{
    ViewBag.Title = "AddCleaning";
}

<h2>Add Cleaning</h2>

@using (Html.BeginForm("AddCleaning", "SR", FormMethod.Post))
{
    <p>
        <label>Start Date:</label>
        <br />
        <input type="date" name="StartDate" value="@Model.StartDate" />
        <br />
        <label>End Date:</label>
        <br />
        <input type="date" name="EndDate" value="@Model.EndDate" />
        <br />
        <label>Cleaning Size:</label>
        <br />
        <input type="radio" name="Size" value="@Model.Size == @CleaningSize.Small" />Small<br />
        <input type="radio" name="Size" value="@Model.Size == @CleaningSize.Big" />Big<br />

        <br /><label> Comment:</label><br />
        <input type="text" name="Comment" value="@Model.Comment" />
        <label> Tram Nummer:</label><br />
        <input type="text" name="TramId" value="@Model.TramID" />
        <label>Assigned Users:</label><br />

        @foreach (var user in Model.AssignedWorkers)
        {
            @Html.CheckBoxFor(x => x.AssignedWorkers[user.Key]) @user.Key <br />

        }

        <input type="submit" value="AddCleaning" />

    </p>
}