@using System.Web.Mvc.Html
@using OdoriRails.Helpers.Objects
@model OdoriRails.Models.SRManagement.AddRepairModel
@{
    ViewBag.Title = "AddRepair";
}

<h2>Add Repair</h2>
@using (Html.BeginForm("AddRepair", "SR", FormMethod.Post))
{
    <p>
        <label>Start Date:</label>
        <br/>
        <input type="date" name="StartDate" value="@Model.StartDate"/>
        <br/>
        <label>End Date:</label>
        <br/>
        <input type="date" name="EndDate" value="@Model.EndDate"/>
        <br/>
        <label>Cleaning Size:</label>
        <br/>
        <input type="radio" name="Type" value="@Model.Type == @RepairType.Maintenance"/>Maintenance<br/>
        <input type="radio" name="Type" value="@Model.Type == @RepairType.Repair"/>Repair<br/>

        <br/><label> Defect:</label><br/>
        <input type="text" name="Defect" value="@Model.Defect"/>
        <br/><label> Oplossing:</label><br/>
        <input type="text" name="Solution" value="@Model.Solution"/>
        <br /><label> Tram Nummer:</label><br/>
        <input type="text" name="TramId" value="@Model.TramID"/>
        <br /><label>Assigned Users:</label><br/><br />

        @foreach (var user in Model.AssignedWorkers)
        {
            @Html.CheckBoxFor(x => x.AssignedWorkers[user.Key])
            @user.Key
            <br/>

        }
        <br /><br />
        <input type="submit" value="AddRepair"/>

    </p>
}