@using System.Web.Mvc.Html
@using OdoriRails.Helpers.Objects
@model OdoriRails.Models.SRManagement.SRModel
@{
    ViewBag.Title = "EditService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Repair</h2>

@using (Html.BeginForm("EditRepair", "SR", FormMethod.Post))
{
    <p>
        <label>Start Date:</label>
        <br />
        <input type="date" name="startDate" value="@Model.RepairToEdit.StartDate">
        <br />
        <label>End Date:</label>
        <br />
        <input type="date" name="endDate" value="@Model.RepairToEdit.EndDate">
        <br />
        <label>Repair Size:</label>
        <br />
        @Html.RadioButtonFor(x => x.RepairToEdit.Type, RepairType.Maintenance) Maintenance
        @Html.RadioButtonFor(x => x.RepairToEdit.Type, RepairType.Repair) Repair
        <label> Comment:</label> <br />
        <label>Defect</label>
        @Html.TextAreaFor(x => x.RepairToEdit.Defect)
        <label>Assigned Users:</label>

        @foreach (var user in Model.AssignedWorkers)
        {
            @Html.CheckBoxFor(x => x.AssignedWorkers[user.Key])
            
        }

        <input type="submit" value="EditRepair" />
    </p>
}
