@using System.Web.Mvc.Html
@using OdoriRails.Helpers.Objects
@model OdoriRails.Models.SRManagement.SRModel
@{
    ViewBag.Title = "EditService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditService</h2>

<form method="post">
    <label for="StartDate">Start Date:</label> <br>
    <input type="date" name="startDate" value="@Model.RepairToEdit.StartDate"><br>
    <label for="EndDate">End Date:</label> <br><br>
    <input type="date" name="endDate" value="@Model.RepairToEdit.EndDate"><br><br>
    <label for="Size">Cleaning Size:</label> <br><br>
    <input type="radio" name="Size" value="@(Model.RepairToEdit.Type == CleaningSize.Small)" checked> Small<br>
    <input type="radio" name="Size" value="@(Model.RepairToEdit.Type == CleaningSize.Big)"> Big<br>
    <label for="Size">Comment:</label> <br><br>
    <input type="text" name="Comment" value="@Model.RepairToEdit.Defect"><br><br>
    <label for="AssignedUsers">Assigned Users:</label>

    @foreach (var user in Model.Engineers)
    {
        <p><input type="checkbox" name="@user.Name" value=@user.Id>@user.Name</p>
    }

    <input type="submit" value="EditRepair">
</form> 
