@using System.Web.Mvc.Html
@using OdoriRails.Helpers.Objects
@model OdoriRails.Models.SRManagement.EditCleaningViewModel
@{
    ViewBag.Title = "EditService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>EditService</h2>


@using (Html.BeginForm("EditCleaning", "SR", FormMethod.Post))
{
    <p>
        <label>Start Date:</label>
        <br/>
        <input type="date" name="StartDate" value="@Model.CleaningToChange.StartDate"/>
        <br/>
        <label>End Date:</label>
        <br/>
        <input type="date" name="EndDate" value="@Model.CleaningToChange.EndDate"/>
        <br/>
        <label>Cleaning Size:</label>
        <br/>
        <input type="radio" name="Size" value="@Model.CleaningToChange.Size == @CleaningSize.Small"/>Small<br/>
        <input type="radio" name="Size" value="@Model.CleaningToChange.Size == @CleaningSize.Big"/>Big<br/>

        <br /><label> Comment:</label><br/>
        <input type="text" name="Comment" value="@Model.CleaningToChange.Comments"/><br />
        <label> Tram Number::</label><br/>
        <input type="text" name="TramId" value="@Model.CleaningToChange.TramId" /><br />
        <label>Assigned Users:</label><br/>

        @foreach (var user in Model.AssignedWorkers)
        {
            @Html.CheckBoxFor(x => x.AssignedWorkers[user.Key]) @user.Key <br/>

        }

        <input type="submit" value="EditCleaning"/>

    </p>
}
