@using System.Web.Mvc.Html
@using OdoriRails.Helpers.Objects
@model OdoriRails.Models.SRManagement.EditRepairViewModel
@{
    ViewBag.Title = "EditService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>EditService</h2>


@using (Html.BeginForm("EditRepair", "SR", FormMethod.Post))
{
    <p>
        <label>Start Date:</label>
        <br/>
        <input type="date" name="StartDate" value="@Model.RepairToChange.StartDate"/>
        <br/>
        <label>End Date:</label>
        <br/>
        <input type="date" name="EndDate" value="@Model.RepairToChange.EndDate"/>
        <br/>
        <label>Cleaning Size:</label>
        <br/>
        <input type="radio" name="Type" value="@Model.RepairToChange.Type == @RepairType.Maintenance"/>Maintenance<br/>
        <input type="radio" name="Type" value="@Model.RepairToChange.Type == @RepairType.Repair"/>Repair<br/>

        <br/><label> Defect:</label><br/>
        <input type="text" name="Defect" value="@Model.RepairToChange.Defect"/><br />
        <br/><label> Oplossing:</label><br/>
        <input type="text" name="Solution" value="@Model.RepairToChange.Solution"/><br />
        <br /><label> Tram Nummer:</label><br/>
        <input type="text" name="TramId" value="@Model.RepairToChange.TramId"/><br />
        <br /><label>Assigned Users:</label><br/><br />

        @foreach (var user in Model.AssignedWorkers)
        {
            @Html.CheckBoxFor(x => x.AssignedWorkers[user.Key])
            @user.Key
            <br/>

        }
        <br /><br />
        <input type="submit" value="EditRepair"/>

    </p>
}