@using System.Security.Cryptography
@using OdoriRails.Helpers.Objects
@model OdoriRails.Models.SRManagement.SRModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" align="center">
    @if(null != TempData["alertMessage"])
   {
      <script type="text/javascript">
       alert("@TempData["alertMessage"]");
      </script>
   }
    <table class="table-striped table-hover">


        @if (Model.User.Role == Role.Cleaner || Model.User.Role == Role.HeadCleaner)
        {
            <tr>
                <th>
                    Id
                </th>
                <th>
                    StartDate
                </th>
                <th>
                    EndDate
                </th>
                <th>
                    TramId
                </th>
                <th>
                    Type
                </th>
                <th>
                    Comment
                </th>

            </tr>
            if (Model.Cleans != null)
            {
                foreach (var cleaning in Model.Cleans)
                {
                    <tr>
                        <td>@cleaning.Id</td>
                        <td>@cleaning.StartDate</td>
                        <td>@cleaning.EndDate</td>
                        <td>@cleaning.TramId</td>
                        <td>@cleaning.Size</td>
                        <td>@cleaning.Comments</td>
                        <td>@Html.ActionLink("Edit", "EditCleaning", "SR", new {id = cleaning.Id}, null)</td>
                    </tr>
                }

            }

            else
            {
                <p>You have no new services. Good job!/Sorry you're fired.</p>
            }
            if (Model.User.Role == Role.Engineer || Model.User.Role == Role.HeadEngineer)
            {
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        StartDate
                    </th>
                    <th>
                        EndDate
                    </th>
                    <th>
                        TramId
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Defect
                    </th>
                    <th>
                        Solution
                    </th>

                </tr>
                foreach (var repair in Model.Repairs)
                {
                    <tr>
                        <td>@repair.Id</td>
                        <td>@repair.StartDate</td>
                        <td>@repair.EndDate</td>
                        <td>@repair.TramId</td>
                        <td>@repair.Type</td>
                        <td>@repair.Defect</td>
                        <td>@repair.Solution</td>
                        <td>@Html.ActionLink("Edit", "EditRepair", "SR", new {id = repair.Id}, null)</td>
                    </tr>
                }

            }
        }
        else
        {
            <p>You have no new services. Good job!/Sorry you're fired.</p>
        }

    </table>
</div>