@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@using OdoriRails.Helpers.Objects
@model OdoriRails.Models.SRManagement.MarkAsDoneViewModel
@{
    ViewBag.Title = "MarkAsDone";
}

<h2>Mark this task as Done</h2>
@using (Html.BeginForm("MarkAsDone", "SR", FormMethod.Post))
{
    if (@Model.User.Role == Role.Cleaner || @Model.User.Role == Role.HeadCleaner)
    { 
        <p>Vul de tekstveld met een opmerking en druk op submit om de taak te beindigen.</p>
        <p>Opmerkingen:</p><input type="text" name="Comment" value="@Model.CleaningMarkAsDone.Comments" size="150" />
    }
    if (@Model.User.Role == Role.Engineer || @Model.User.Role == Role.HeadEngineer)
    { 
        <p>Vul de tekstveld met de uitgevoerde oplossing en druk op submit om de taak te beindigen.</p>
        <p>Oplossing:</p><input type="text" name="Solution" value="@Model.RepairMarkAsDone.Solution" size="150" />
    }
    <input type="hidden" name="TramIdToCarryOver" value="@Model.RepairMarkAsDone.TramId"/>
    <input type="hidden" name="Serviceid" value="@Model.Serviceid" />

    <br/>
    <input type="submit" value="EditRepair"/>

}


