@using OdoriRails.Models.LogistiekBeheer
@model OdoriRails.Models.LogistiekBeheer.LogistiekBeheerModel

@{
    ViewBag.Title = "Logistiek";
}

<div class="container">
<div class="col-md-4 pull-left">
<div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
        @Html.ActionLink("Main", "SetStateMain", null, new { @class = "btn btn-md btn-primary" })
        @Html.ActionLink("Edit", "SetStateEdit", null, new { @class = "btn btn-md btn-primary" })
        @Html.ActionLink("Delete", "SetStateDelete", null, new { @class = "btn btn-md btn-primary" })
        @Html.ActionLink("Simulation", "SetStateSimulation", null, new { @class = "btn btn-md btn-primary" })
    </div>
</div>
@if (Model.State == LogistiekState.Main)
{
    using (Html.BeginForm("LockTrack", "LogistiekBeheersysteem", FormMethod.Post))
    {
        <div class="panel panel-default" style="margin-top: -10px">
            <div class="panel-heading">
                @Html.Label("Lock/Unlock Track")
                <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-top: -5px">Confirm</button>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            @Html.Label("Track Numbers:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.TrackNumbers)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Sector Numbers:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.SectorNumbers)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Lock:") @Html.RadioButtonFor(m => m.Form.Lock, true)
                        </td>
                        <td>
                            @Html.Label("Unlock:") @Html.RadioButtonFor(m => m.Form.Lock, false)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    using (Html.BeginForm("MoveTram", "LogistiekBeheersysteem", FormMethod.Post))
    {
        <div class="panel panel-default" style="margin-top: -10px">
            <div class="panel-heading">
                @Html.Label("Move Tram")
                <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-top: -5px">Confirm</button>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            @Html.Label("Tram Number:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.TramNumber, new { type = "number" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Track Number:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.TrackNumber, new { type = "number" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Sector Number:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.SectorNumber, new { type = "number" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    using (Html.BeginForm("ToggleDisabled", "LogistiekBeheersysteem", FormMethod.Post))
    {
        <div class="panel panel-default" style="margin-top: -10px">
            <div class="panel-heading">
                @Html.Label("Disable/Enable Tram")
                <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-top: -5px">Confirm</button>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            @Html.Label("Tram Numbers:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.TramNumbers)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
}
else if (Model.State == LogistiekState.Edit)
{
    using (Html.BeginForm("AddTram", "LogistiekBeheersysteem", FormMethod.Post))
    {
        <div class="panel panel-default" style="margin-top: -10px">
            <div class="panel-heading">
                @Html.Label("Add Tram")
                <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-top: -5px">Confirm</button>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            @Html.Label("Tram Number:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.TramNumber, new { type = "number" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Default Line:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.DefaultLine, new { type = "number" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Tram Model:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.TramModel)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    using (Html.BeginForm("AddTrack", "LogistiekBeheersysteem", FormMethod.Post))
    {
        <div class="panel panel-default" style="margin-top: -10px">
            <div class="panel-heading">
                @Html.Label("Add Track")
                <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-top: -5px">Confirm</button>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            @Html.Label("Track Number:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.TrackNumber, new { type = "number" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Track Type:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.TrackType)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Default Line:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.DefaultLine, new { type = "number" })
                        </td>
                        @* TODO: Add optie om te kiezen hoeveel sectoren toe te voegen. *@
                    </tr>
                </table>
            </div>
        </div>
    }
    using (Html.BeginForm("AddSector", "LogistiekBeheersysteem", FormMethod.Post))
    {
        <div class="panel panel-default" style="margin-top: -10px">
            <div class="panel-heading">
                @Html.Label("Add Sector")
                <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-top: -5px">Confirm</button>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            @Html.Label("Track Number:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.TrackNumber, new { type = "number" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Latitude:")
                        </td>
                        <td>
                                    @Html.TextBoxFor(m => m.Form.Latitude, new { type = "number", step = "any" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Longitude")
                        </td>
                        <td>
                                    @Html.TextBoxFor(m => m.Form.Longitude, new { type = "number", step = "any" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
}
else
{
    using (Html.BeginForm("DeleteTram", "LogistiekBeheersysteem", FormMethod.Post))
    {
        <div class="panel panel-default" style="margin-top: -10px">
            <div class="panel-heading">
                @Html.Label("Delete Tram")
                <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-top: -5px">Confirm</button>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            @Html.Label("Tram Number:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.TramNumber, new { type = "number" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    using (Html.BeginForm("DeleteTrack", "LogistiekBeheersysteem", FormMethod.Post))
    {
        <div class="panel panel-default" style="margin-top: -10px">
            <div class="panel-heading">
                @Html.Label("Remove Track")
                <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-top: -5px">Confirm</button>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            @Html.Label("Track Number:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.TrackNumber, new { type = "number" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    using (Html.BeginForm("DeleteSector", "LogistiekBeheersysteem", FormMethod.Post))
    {
        <div class="panel panel-default" style="margin-top: -10px">
            <div class="panel-heading">
                @Html.Label("Remove Last Sector")
                <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-top: -5px">Confirm</button>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            @Html.Label("Track Number:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Form.TrackNumber, new { type = "number" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
}
</div>
    
<div class="col-md-8">
    <select style="margin-top: 10px; z-index: 1; position: absolute;" name="sometext" onclick="UpdateTramNumber()" size="5" id="listBox">
    </select>
    <div style="border-radius: 4px; margin-top: 10px; height: 800px; width: 100%; background-color: black;" id="map">
    </div>
</div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    var map;
    var markers;
    function initMap() {

        var myStyle = [
            {
                featureType: "administrative",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }, {
                featureType: "poi",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }, {
                featureType: "water",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }, {
                featureType: "road",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }
        ];

        var markersArray = [];
        var oldJson;

        console.log("initmap...");
        map = new google.maps.Map(document.getElementById('map'),
            {
            mapTypeControlOptions: {
                mapTypeIds: ['myStyle', google.maps.MapTypeId.ROADMAP, google.maps.MapTypeId.TERRAIN]
            },
            center: { lat: 52.348012, lng: 4.852770 },
            zoom: 18,
            draggable: true,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            mapTypeId: 'myStyle'
            });

        map.mapTypes.set('myStyle', new google.maps.StyledMapType(myStyle, { name: 'My Style' }));

        var contentString;

        var infowindowold;


        var textBox = document.getElementById('Form_TramNumber');
        var listBox = document.getElementById('listBox');

        function addMarker(location, map, labeltext, contentString, sectorStatus, statusTram) {
            var icon;
            console.log(sectorStatus);
            if (sectorStatus === 1) {
                icon = "../../fonts/Icons/TransparantIcon161.gif";
            } else {
                icon = "../../fonts/Icons/TransparantIcon16.gif";
            }
            var marker;
            console.log("adding Marker!");
            var color;
            if (statusTram > 0 && statusTram < 4) {
                color = 'blue';
            }
            else if (statusTram === 4) {
                color = 'red';
            } else {
                color = 'black';
            }
            
            // Add the marker at the clicked location, and add the next-available label
            // from the array of alphabetical characters.
            marker = new google.maps.Marker({
                position: location,
                label: {
                    text: labeltext,
                    color: color,
                },
                map: map,
                icon: icon
            });
            marker.addListener('click', function () {
                console.log();
                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });
                if (infowindowold) {
                    infowindowold.close();
                }
                infowindow.open(map, marker);

                if (!isNaN(parseInt(marker.label.text))) {
                    textBox.value = parseInt(marker.label.text);
                }

                infowindowold = infowindow;
            });
            markersArray.push(marker);
        }
        //var coordinates = { lat: 52.348012, lng: 4.852770 };
        //addMarker(coordinates, map);

        var requestMethod = function (data) {
            if (JSON.stringify(oldJson) !== JSON.stringify(data)) {
                document.getElementById("listBox").options.length = 0;
                map.clearOverlays();
                for (var i = 0; i < data.length; i++) {
                    console.log(data[i]);
                    for (var y = 0; y < data[i].Sectors.length; y++) {
                        
                        console.log(data[i].Sectors[y]);
                        var lat = parseFloat(data[i].Sectors[y].Latitude);
                        var lng = parseFloat(data[i].Sectors[y].Longitude);
                        var location = { lat, lng };
                        var tramNumber;
                        var tramStatus;
                        var sectorStatus = parseInt(data[i].Sectors[y].Status);

                        if (data[i].Sectors[y].OccupyingTram === null) {
                            contentString = '<div id="content">' +
                                '<div id="siteNotice">' +
                                '</div>' +
                                '<div id="bodyContent">' +
                                '<p>Tracknumber: ' +
                                String(data[i].Number) +
                                '</p>' +
                                '<p>Tracktype: ' +
                                String(data[i].Type) +
                                '</p>' +
                                '<p>Sectornumber: ' +
                                String(data[i].Sectors[y].Number) +
                                '</p>' +
                                '<p>Line: ' +
                                String(data[i].Line) +
                                '</p>' +
                                '</div>' +
                                '</div>';
                            tramNumber = ' ';
                            tramStatus = 0;
                        } else {
                            tramNumber = String(data[i].Sectors[y].OccupyingTram.Number);
                            contentString = '<div id="content">' +
                                '<div id="siteNotice">' +
                                '</div>' +
                                '<h1 id="firstHeading" class="firstHeading">' +
                                 tramNumber +
                                '</h1>' +
                                '<div id="bodyContent">' +
                                '<p>Tracknumber: ' +
                                String(data[i].Number) +
                                '</p>' +
                                '<p>Tracktype: ' +
                                String(data[i].Type) +
                                '</p>' +
                                '<p>Sectornumber: ' +
                                String(data[i].Sectors[y].Number) +
                                '</p>' +
                                '<p>Line: ' +
                                String(data[i].Line) +
                                '</p>' +
                                '</div>' +
                                '</div>';
                            if (parseInt(data[i].Sectors[y].OccupyingTram.Location) === 4) {
                                var opt = document.createElement("option");
                                opt.text = data[i].Sectors[y].OccupyingTram.Number;
                                opt.value = parseInt(data[i].Sectors[y].OccupyingTram.Status);
                                document.getElementById("listBox").options.add(opt);
                            }
                            tramStatus = parseInt(data[i].Sectors[y].OccupyingTram.Status);
                        }
                        addMarker(location, map, tramNumber, contentString, sectorStatus, tramStatus);
                    }
                    
                }
                oldJson = data;
            }
        }

        var documentReady = function () {
            $.getJSON('/api/GoogleMapsAPI').done(requestMethod);
            console.log("json read!");
            }

        google.maps.Map.prototype.clearOverlays = function () {
            for (var i = 0; i < markersArray.length; i++) {
                markersArray[i].setMap(null);
            }
            markersArray.length = 0;
        }

        var myVar = setInterval(myTimer, 1000);

        function myTimer() {
            documentReady();
        }

        $(document).ready(documentReady());
    }

    function UpdateTramNumber() {
        var e = document.getElementById("listBox");
        document.getElementById('Form_TramNumber').value = parseInt(e.options[e.selectedIndex].text);
    }


    
</script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4qb6olqxSBOg_yeccMF6MFjzNf9RCZ9s&callback=initMap"></script>