@model OdoriRails.Models.LogistiekBeheerModel

<div class="container">
    <div class="col-md-4 pull-left">
        <div class="panel panel-default" style="margin-top: 10px">
            <div class="panel-heading">
                @Html.ActionLink("Main", "SetStateMain", null, new { @class = "btn btn-md btn-primary" })
                @Html.ActionLink("Edit", "SetStateEdit", null, new { @class = "btn btn-md btn-primary" })
            </div>
        </div>
        @if (Model.State == OdoriRails.Models.LogistiekState.Main)
        {
            using (Html.BeginForm("LockTrack", "LogistiekBeheerModel", FormMethod.Post))
            {
                <div class="panel panel-default" style="margin-top: -10px">
                    <div class="panel-heading">
                        @Html.Label("Lock/Unlock Track")
                        <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-top: -5px">Confirm</button>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td>
                                    @Html.Label("Track Number:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Form.TrackNumber, new { type = "number" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Sector Number:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Form.SectorNumber, new { type = "number" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Lock:") @Html.RadioButtonFor(m => m.Form.RadioButton, new { id = 0 }, true)
                                </td>
                                <td>
                                    @Html.Label("Unlock:") @Html.RadioButtonFor(m => m.Form.RadioButton, new { id = 0 }, true)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
            using (Html.BeginForm("MoveTram", "LogistiekBeheerModel", FormMethod.Post))
            {
                <div class="panel panel-default" style="margin-top: -10px">
                    <div class="panel-heading">
                        @Html.Label("Move Tram")
                        <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-top: -5px">Confirm</button>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td>
                                    @Html.Label("Tram Number:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Form.TramNumber, new { type = "number" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Track Number:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Form.TrackNumber, new { type = "number" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Sector Number:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Form.SectorNumber, new { type = "number" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
            using (Html.BeginForm("DisableEnableTram", "LogistiekBeheerModel", FormMethod.Post))
            {
                <div class="panel panel-default" style="margin-top: -10px">
                    <div class="panel-heading">
                        @Html.Label("Disable/Enable Tram")
                        <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-top: -5px">Confirm</button>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td>
                                    @Html.Label("Tram Number:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Form.TramNumber, new { type = "number" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Enable:") @Html.RadioButtonFor(m => m.Form.RadioButton, new { id = 0 }, true)
                                </td>
                                <td>
                                    @Html.Label("Disable:") @Html.RadioButtonFor(m => m.Form.RadioButton, new { id = 0 }, true)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-8">
        Here be display
    </div>
</div>